@model Formularz.Models.Dane

@{
    ViewData["Title"] = "Wynik Rejestracji";
}

<h2>@ViewData["Title"]</h2>

@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <div class="alert alert-success">@Model.SuccessMessage</div>
}

<h3>Potwierdzenie Danych:</h3>
<div class="form-group">
    <label asp-for="Imie">Imię:</label>
    <p>@Model.Imie</p>
</div>

<div class="form-group">
    <label asp-for="Nazwisko">Nazwisko:</label>
    <p>@Model.Nazwisko</p>
</div>

<div class="form-group">
    <label asp-for="Email">Adres e-mail:</label>
    <p>@Model.Email</p>
</div>

<div class="form-group">
    <label asp-for="Haslo">Hasło:</label>
    <p>********</p>
</div>

<div class="form-group">
    <label asp-for="NrTelefonu">Nr telefonu:</label>
    <p>@Model.NrTelefonu</p>
</div>

<div class="form-group">
    <label asp-for="Wiek">Wiek:</label>
    <p>@Model.Wiek</p>
</div>

<div class="form-group">
    <label asp-for="Miasto">Miasto:</label>
    <p>@Model.Miasto</p>
</div>

<a asp-action="Form" asp-controller="Dane" class="btn btn-primary">Powrót do Formularza</a>
